@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|Inika:400,700);

body {
  padding-top: 60px;
  font-family: "Inika", serif;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 110%;
}

.nav img {
  border: 1px solid white;
  height: 22px;
  width: 22px;
}

.alert-commit {
  background-color: #f0f8ff;
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
  color: #333333;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.nav-middle-header {
  display: block;
  margin-top: 6px;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#commit-message {
  overflow: hidden;
  text-overflow: ellipsis;
}

.commit-info {
  text-align: right;
  font-size: 11px;
}
.sha {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
.curved {
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

.diff-title {
  padding: 7px 14px;
  margin: 0 0 2px;
  border: 1px solid #ddd;
}

.diff-show-file {
  float:right;
}
.diff-content {
  margin: 0 0 25px;
}

.diff-remove { background-color: rgb(255,221,221); }
.diff-insert { background-color: rgb(221,255,221); }
.diff-hunk   { background-color: rgb(234,242,245); }
.diff-common { }

.diff-lineno {
  color: rgb(110,110,110);
  text-align: right;
  padding-left:30px;
  background-color: #eee !important;
  border-right: 1px solid #dddddd;
}

.diff-remove:hover,
.diff-insert:hover,
.diff-hunk:hover,
.diff-common:hover {
  background-color: rgb(255,248,194);
}

.col-content { width: 100%; }

